.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100% + 100px);
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: opacity visibility;
    transition-duration: 0.2s;
}

.modal.active {
    width: 100%;
    height: calc(100% + 100px);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s
}